<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Detalles de entrega</title>
    <style type="text/css">
        @page {
            size: letter;
            header: page-header;
		    footer: page-footer;
        }
        body {
			color: #333;
		    font-family: 'roboto', serif;
		    font-size: 16px;
		    margin-left: 0px;
		    margin-right: 0px;
		}
		#date {
			/*margin-top: -120px;*/
			height: 10px;
			text-align: right;
		}
		#logo{
			margin-left: 20px;
		}
		img{
			margin-left: 30px;
		}
		table {
		    border-collapse: collapse;
		    width: 100%;
		}
		td, th {
			font-size: 0.8em;
			height: 2.35em;
		    text-align: left;
		}
		tr {
			font-size: 0.9em;
		}
		tr:nth-child(even) {
		    background-color: #f0f0f0;
		}
		p {
			text-align: center;
		}
		header {
			height: 70px;
			font-size: 0.9em;
			width: 100%;
		}
		.cnt {
			text-align: center;
		}
		.container {
			margin-top: 50px;
			height: 750px;
		}
		.hoja{
			border: 1px solid transparent;
			height: 900px;
		}
    </style>
</head>
<body>
{% for hoja in hojas %}
	{% set index = loop.index %}
	<div class="hoja">
		<header name="page-header">
		    <!--<div id="logo"><img src="/static/images/gob-logo.jpg" alt="logo1" height="112px" width="90px"></div>
		    -->
		    <div id="date">
		    	<!--<img src="/static/images/reg-logo.jpg" alt="logo2" height="87px" width="110px"><br>-->
		    	Culiacán, Sinaloa {{day}} de {{month}} de {{year}}
		   	</div>
		   	<div style="height: 20px;"></div>
		    <p>DIRECCIÓN DEL REGISTRO CIVIL</p>
		    <p>PROYECTO DE MODERNIZACIÓN DEL REGISTRO CIVIL</p>
		</header>
		<div class="container">
			Reporte de entregas diaria de actas: 
			<div style="height: 20px;"></div>
			<table>
			  <tr>
			  	<th class="cnt">Núm.</th>
			    <th>Oficialía</th>
			    <th class="cnt">Actas oficialía</th>
			    <th class="cnt">Actas use</th>
			    <th class="cnt">Actas interestatales</th>
			    <th class="cnt">Folio inicial</th>
			    <th class="cnt">Folio final</th>
			  </tr>
			  {% for entrega in hoja.entregas %}
			  	{% set index2 = loop.index %}
				<tr>
					<td class="cnt">{{((index - 1) * 23) + index2}}</td>
					<td>{{entrega.oficialia}}</td>
					<td class="cnt">{{entrega.actas_oficialia}}</td>
					<td class="cnt">{{entrega.actas_use}}</td>
					<td class="cnt">{{entrega.actas_interestatales}}</td>
					<td class="cnt">{{entrega.folio_inicial}}</td>
					<td class="cnt">{{entrega.folio_final}}</td>
				</tr>

				{% if hoja.entregas | length < 23 and index2 == hoja.entregas | length %} 
					{% for x in range(23 - hoja.entregas | length) %}
						<tr>
							<td class="cnt">{{((index - 1) * 23) + index2 + loop.index}}</td>
						<td/>
						<td/><td/><td/><td/><td/></tr>
					{% endfor %}
				{% endif %}
			  {% endfor %}
			</table>
		</div>
		<div style="height: 10px;"></div>
		<div class="footer" style="height: 10px;">
			{{index}} de {{hojas | length}}
		</div>

	</div>
{% endfor %}
</body>
</html>