* {
    font-family: 'Roboto', sans-serif;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    image-rendering: pixelated;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    height: 100%;
    position: relative;
    background: #F2F5F7;
    margin: 0;
}

@media (min-width: 768px) {
    #main {
        padding-left: 200px;
    }
}

.ui.menu {
    border: none !important;
    box-shadow: none !important;
}

.ui.menu:not(.vertical) .item {
    position: static;
}

#login-info {
    padding: 10px;
    position: absolute;
    width: 100%;
}

.info {
    color: #93AFB9;
    float: right;
}
.cards {
    position: absolute;
    top: 25px;
}
.ui.basic.teal.button, .ui.basic.teal.buttons .button {
    color: #93AFB9 !important;
}
/* LOTES */ 
#sin-lotes {
    padding: 50px;
    color: #f2711c;
}
.lotes {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
tr {
    height: 45px;
}
table.listing>thead>tr.titles td {
    color: #62838F;
}

table.listing td {
    text-align: center;
}
table.listing>tbody>tr.req-item {
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    user-select: none;
}
table.listing>thead>tr td {
    font-size: 12px; 
    user-select: none;
}
table.listing>tbody>tr td {
    text-align: center;
    vertical-align: middle;
    color: #62838F;
    letter-spacing: 0.02em;
    border: 0;
    padding: 6px;
    font-weight: 500;
}

tbody>tr>td.calif span.calif-B1, tbody>tr>td.calif span.calif-B2, tbody>tr>td.calif span.calif-B3, tbody>tr>td.calif span.calif-B4, tbody>tr>td.calif span.calif-B5, tbody>tr>td.calif span.calif-B6, tbody>tr>td.calif span.calif-B7, tbody>tr>td.calif span.calif-b {
    background: #02c39e;
    color: #fff;
}
table.listing>tbody>tr td.calif span {
    font-weight: 500;
    padding: 5px;
}
table.listing>tbody>tr.progress {
    height: 4px;
    background: hsla(206, 73%, 47%, 0.08);
}

table.listing>tbody>tr.space {
    box-shadow: none;
    height: 10px;
}
table.listing>tbody>tr.progress td {
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    height: 4px;
    padding: 0;
    overflow: hidden;
}
table.listing>tbody>tr.progress td .bar {
    height: 3px;
    width: 50%;
    background: #30de79;
    border-radius: 6px;
}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
/* FIN LOTES */ 
/* ENTREGA ESPECIAL */ 
.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #263945;
}
.sin-entregas {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #f2711c;
}

.banner {
    background: white !important;
    border-radius: 0px !important;
}
.opcion-nav {
    color: #93AFB9 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}
#usuario {
    color: #f2711c !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}