#barra {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #263945;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (min-width: 768px) {
    #barra {
        width: 200px;
        position: fixed;
    }
    #barra #totales {
        opacity: 1 !important;
    }
    #barra #totales li {
        font-size: 16px;
    }
}

#barra #totales {
    background: #20303C;
    width: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    opacity: 0;
    position: absolute
}

#barra #totales li {
    color: #B9B9B9;
    list-style: none;
    padding: 10px 10px;
    border-top: 1px solid #373a47;
}
#barra #totales span {
    font-size: .9em;
    color: #7b7e8a;
}

#barra #totales li strong {
    color: #fff;
    font-weight: 500;
    font-size: 18px; 
}
#menu {
    position: relative;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#barra #menu li {
    text-indent: 20px;
    line-height: 40px;
}
#barra #menu > #logo a img {
    max-width: 150px;
    margin-top: -10px;
}
img {
    vertical-align: middle;
}
#barra #menu li a {
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #B9CFDD;
    padding: 6px 0px;
    vertical-align: top;
}
#barra #menu #logo {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
#barra #menu #logo strong{
    color: #f2711c;
}
#menu li.actv a {
    background: #20303C;
    color: #fff !important;
}
.label-periodo {
    color: #02c39e;
    margin-bottom: 10px !important;
    margin-top: -15px !important;
}